header {
  background-color: #923158;
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 20px;
}
menu {
  background-color: #6e1237;
  width: 98%;
  height: 70px;
  color: #fff;
  font-size: 20px;
}
aside {
  background-color: #b65b80;
  height: 90px;
  width: 10%;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.row {
  background-color: #b65b80;
  width: 10%;
  height: 160px;
  text-align: center;
  text-align: middle;
  color: #fff;
  font-size: 30px;
}
.right {
  background-color: #b65b80;
  float: right;
  width: 10%;
  height: 260px;
  color: #fff;
  font-size: 30px;
}
main {
  background-color: #b65b80;
  width: 79%;
  height: 450px;
  text-align: center;
  /* margin-top:-2.7%;
    float: right;
    margin-right: 0.5%;*/
  position: fixed;
  top: 22.4%;
  left: 10.5%;
  color: #fff;
  font-size: 30px;
}
section {
  background-color: #db92af;
  width: 90%;
  height: 140px;
  position: absolute;
  top: 15%;
  left: 5%;
  color: #fff;
  font-size: 30px;
}
.maincenter {
  background-color: #db92af;
  width: 90%;
  height: 140;
  position: absolute;
  top: 50%;
  left: 5%;
  color: #fff;
  font-size: 30px;
}
footer {
  font-size: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #6e1237;
  color: #fff;
  width: 100%;
  height: 50px;
}
.vertikal {
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: tb-rl;
  text-align: right;
}
